/*    Project    */
.project {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 5px;
}

.project:nth-child(2n + 2) {
  grid-column: span 1;
  grid-row: span 3;
}
.project:nth-child(2n + 1) {
  grid-column: span 1;
  grid-row: span 2;
}

/*    Title    */
.project__title {
  font-size: 1.7rem;
  font-weight: 600;
}

/*    Info     */
.project__info {
  font-size: 1.25rem;
  font-weight: 400;
}

/*    Img container     */
.project__img {
  width: 100%;
  min-height: 35%;
  align-self: stretch;
  border: 1.5px solid var(--light-gray);
  border-radius: 5px;
  overflow: hidden;
}

/*    Image     */
.project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*    Tag list    */
.project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/*    Tag */
.tag {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 2px;
  background: var(--light-gray);
}

/*    View project button    */
.project__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

/*    Button icon    */
.project__link_chevron-icon {
  width: 16px;
  height: 16px;
}

/*    See more button    */
.projects__see_btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white);
  background: linear-gradient(
    to bottom right,
    var(--light-purple),
    var(--dark-purple)
  );
}

@media (min-width: 700px) {
  .project__title {
    font-size: 1.9rem;
  }
}
