/*    Contact section      */
.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding: 8rem;
  color: var(--white);
  background: linear-gradient(var(--purple) 25%, var(--dark-purple));
}

/*    heading container    */
.contact__heading_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*    Heading   */
.contact__heading {
  font-size: 2.3rem;
  font-weight: 700;
}

/*    Subheading     */
.contact__heading_subheading {
  font-size: 1.5rem;
  font-weight: 500;
}

/*    Contact list     */
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*    Contact    */
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/*    Contact icon     */
.contact__icon {
  width: 24px;
  height: 24px;
}

/*    Contact name     */
.contact__name {
  font-size: 1.7rem;
  font-weight: 600;
}

/*    Contact link      */
.contact__link {
  font-size: 1.25rem;
  color: var(--white);
}

@media (min-width: 700px) {
  .contact__heading {
    font-size: 2.9rem;
  }

  .contact__heading_subheading {
    font-size: 1.3rem;
  }

  .contact__list {
    flex-direction: row;
  }

  .contact {
    width: 33%;
  }
}
