/*    Dark mode styles     */
main.dark-mode .about_section,
main.dark-mode .benefits_section,
main.dark-mode .projects_section {
  color: var(--white);
  background: var(--black);
}

main.dark-mode .projects_section .tag {
  background: var(--light-purple);
}

main.dark-mode .projects_section .project__link {
  color: var(--white);
}
main.dark-mode .fallback {
  background: var(--black);
}
.fallback {
  width: 100%;
  height: 100vh;
  background: var(--white);
}
