/*    Dark mode styles     */
main.dark-mode .about_section,
main.dark-mode .benefits_section,
main.dark-mode .projects_section {
  color: var(--white);
  background: var(--black);
}

main.dark-mode .projects_section .tag {
  background: var(--light-purple);
}

main.dark-mode .projects_section .project__link {
  color: var(--white);
}
