/*    Benefits section      */
.benefits_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 8rem;
  background-color: var(--white);
}

/*    Heading    */
.benefits__heading {
  font-size: 2.3rem;
  font-weight: 600;
}

/*    Text      */
.benefits__text {
  font-size: 1.7rem;
  font-weight: 400;
}

/*    Benefit list     */
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

/*    Benefit      */
.list__benefit::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background: url("@images/icon-cube.png");
  background-size: cover;
}

/*    Benefit heading   */
.benefit__heading {
  margin-bottom: 4.5px;
  font-size: 2rem;
  font-weight: 600;
}

/*    Benefit text     */
.benefit__text {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .benefits__heading {
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
  }

  .benefits__text {
    font-size: 1.74rem;
    font-weight: 400;
    text-align: center;
  }

  .benefits__list {
    width: 75%;
    flex-wrap: nowrap;
  }

  .benefit__heading {
    font-size: 2.4rem;
  }

  .benefit__text {
    font-size: 1.5rem;
  }
}
