/*     Header      */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem;
  color: var(--white);
  background: url("@images/ellipse3.png") left bottom/ 45% no-repeat,
    url("@images/ellipse2.png") left top / 25% no-repeat,
    url("@images/ellipse.png") right center / 35% no-repeat,
    linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
}

.header.dark-mode {
  background: url("@images/ellipse4.png") 45% 85%/ 8% no-repeat,
    url("@images/ellipse4.png") 62% 75%/ 5% no-repeat,
    url("@images/ellipse3.png") left bottom/ 45% no-repeat,
    url("@images/ellipse2.png") left top / 25% no-repeat,
    url("@images/ellipse.png") right center / 35% no-repeat,
    linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
}

/*     Header content     */
.header__content {
  margin-bottom: 10rem;
  text-align: center;
}

/*     Heading     */
.content__heading {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 700;
}

/*     Text      */
.content__text {
  font-size: 2rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .header {
    flex-direction: row;
    min-height: 60vh;
    background: url("@images/ellipse3.png") 90% bottom/ 15% no-repeat,
      url("@images/ellipse2.png") 55% center / 15% no-repeat,
      url("@images/ellipse.png") right top / 20% no-repeat,
      linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
  }

  .header.dark-mode {
    background: url("@images/ellipse4.png") 85% 35%/ 5% no-repeat,
      url("@images/ellipse4.png") 75% 50%/ 3% no-repeat,
      url("@images/ellipse3.png") 90% bottom/ 15% no-repeat,
      url("@images/ellipse2.png") 55% center / 15% no-repeat,
      url("@images/ellipse.png") right top / 20% no-repeat,
      linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
  }

  .header__content {
    width: 60%;
    margin: 0;
  }

  .content__heading {
    font-size: 3.9rem;
  }

  .content__text {
    font-size: 1.8rem;
  }
}
