/*     Header      */
.header {
  background: url("@images/girl-mobile.png") center bottom / 100% no-repeat,
    url("@images/ellipse3.png") left bottom/ 45% no-repeat,
    url("@images/ellipse2.png") left top / 25% no-repeat,
    url("@images/ellipse.png") right center / 35% no-repeat,
    linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
}

.header.dark-mode {
  background: url("@images/girl-mobile.png") center bottom / 100% no-repeat,
    url("@images/ellipse4.png") 45% 85%/ 8% no-repeat,
    url("@images/ellipse4.png") 62% 75%/ 5% no-repeat,
    url("@images/ellipse3.png") left bottom/ 45% no-repeat,
    url("@images/ellipse2.png") left top / 25% no-repeat,
    url("@images/ellipse.png") right center / 35% no-repeat,
    linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
}

@media (min-width: 700px) {
  .header {
    background: url("@images/girl.png") 200% center / 80% no-repeat,
      url("@images/ellipse3.png") 90% bottom/ 15% no-repeat,
      url("@images/ellipse2.png") 55% center / 15% no-repeat,
      url("@images/ellipse.png") right top / 20% no-repeat,
      linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
  }

  .header.dark-mode {
    background: url("@images/girl.png") 200% center / 80% no-repeat,
      url("@images/ellipse4.png") 85% 35%/ 5% no-repeat,
      url("@images/ellipse4.png") 75% 50%/ 3% no-repeat,
      url("@images/ellipse3.png") 90% bottom/ 15% no-repeat,
      url("@images/ellipse2.png") 55% center / 15% no-repeat,
      url("@images/ellipse.png") right top / 20% no-repeat,
      linear-gradient(var(--purple) 20%, var(--light-purple-transparent));
  }
}
