/*    Navbar links on mobile   */
.navbar__links {
  display: none;
  flex-direction: column;
  gap: 4rem;
  background: var(--purple);
}

.navbar__links.show {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 18rem;
  padding: 1.5rem 1.5rem 3rem 3rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/*    Close icon (on mobile)    */
.links__close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--white);
  float: right;
  cursor: pointer;
}

/*    Link    */
.link {
  position: relative;
}
.link a {
  font-size: 1.3rem;
  color: var(--white);
}

@media (min-width: 600px) {
  .navbar__links,
  .navbar__links.show {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0 3rem;
    border-radius: 0;
  }

  .navbar__menu-icon,
  .links__close-icon {
    display: none;
  }
}
