/*  Language Icon   */
.lng-icon {
  width: 20px;
  height: 20px;
  stroke: var(--white);
  cursor: pointer;
}

/*  Language options   */
.lng-options {
  min-width: 8rem;
  padding: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: var(--purple);
}

/*  Option   */
.lng__option {
  display: flex;
}

.option__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.option__checkbox:checked ~ .option__label::after {
  display: inline;
  content: "✔";
  margin-left: 8px;
}

.option__label {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

/*  Language options overlay   */
.lng-overlay {
  display: none;
}

@media (min-width: 600px) {
  .lng-options {
    position: absolute;
    top: 30px;
    left: -25px;
    padding: 2rem;
  }

  .lng-overlay {
    display: block;
    position: absolute;
    top: 30px;
    right: -140px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}
