/*      Footer      */
.page_footer {
  min-height: 15rem;
  padding: 3rem 5rem;
  color: var(--white);
  background: var(--purple);
}

/*      Footer title     */
.footer_title {
  font-size: 1.6rem;
  font-weight: 600;
}

/*      Footer - Contact list     */
.footer_contact-list {
  margin: 2rem 0 0 2rem;
}
.footer_contact-list li {
  margin-top: 1rem;
}

/*      Contact link     */
.contact_link {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

/*      Contact link name     */
.contact_link__name {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
