:root {
  --purple: #582eff;
  --light-purple: #7654ff;
  --green: #28ca63;
  --black: #2f2f2f;
  --gray: #484848;
  --light-gray: #d9d9d9;
  --white: #ffffff;
  --transparent-purple: #7654ff2c;
  --transparent-black: #00000043;
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("@fonts/montserrat-v25-latin-regular.woff2") format("woff2");
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("@fonts/montserrat-v25-latin-500.woff2") format("woff2");
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("@fonts/montserrat-v25-latin-600.woff2") format("woff2");
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("@fonts/montserrat-v25-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--white);
}

h2 {
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  color: var(--black);
  background: var(--white);
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  min-width: 100%;
}

svg {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

/*    Dark theme    */
section.dark-theme {
  color: var(--white);
  background: var(--black);
}
section.dark-theme svg path {
  fill: var(--white);
}
